doctype 5
html
    head
        title= title
        link(rel='stylesheet', href='/css/style.css')
    body
        div.container
            div.well
              h1= title
script(src='js/libs/require.js', data-main='js/main')